{% extends 'tacoapp/base.html' %}

{% block content %}

<div>
  <h1 class="ml-3 mt-2">Select Leftover Tacos</h1>
  <form class="ml-4 mt-3" method="POST">
    {% csrf_token %}
    <input type="date" name="date"
       value="{{ today }}"
       min="2020-01-01" max="2030-12-31">

    <select name="item">
      <option value="potato">potato</option>
      <option value="bean">bean</option>
    </select>
    <select name="number">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    <button type="submit">Add Item</button>
  </form>

  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}


  <!-- {% if all_items %}
    {% for each in all_items %}
      {{ each }}
    {% endfor %}
  {% endif %} -->
</div>

{% endblock %}
