{% extends 'tacoapp/base.html' %}

{% block content %}
<h1>Details view baby</h1>

<form class="ml-4 mt-3" method="POST">
  {% csrf_token %}
<button type="submit">From Sheets?</button>
</form>

<br>
<p><a href="{% url 'tacoapp:reset' %}">Reset Sheet?</a></p>

{{ context }}
{{ total_waste }}

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}



{% endblock %}
