{% extends 'tacoapp/base.html' %}
{% load static %}


{% block content %}
<DOCTYPE html>
<head></head>
<link rel="stylesheet" type="text/css" href="{% static 'tacoapp/style.css' %}">

<body class="center mobile-center">
<h1>Food Waste Averages</h1>

{% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
{% endif %}

<!-- <form class="ml-4 mt-3" method="POST"> -->
<form method="POST">
  {% csrf_token %}
<button type="submit">Run Calculations</button>
</form>

<br>

<p>Total Waste - {{ month_year }}: <span class="red">{{ total_waste }}</span></p>

<div class="table-pad">
<table border="solid">
  <tr><td>Weekday</td>
    <td>Potato</td>
    <td>Migas</td>
    <td>Bean</td>
    <td>Vegan</td></tr>

  <tr><td>Sunday</td>
{% for k,v in sun.items %}
    <td>{{ v }}</td>
{% endfor %}</tr>

  <tr><td>Monday</td>
{% for k,v in mon.items %}
    <td>{{ v }}</td>
{% endfor %}</tr>

  <tr><td>Tuesday</td>
{% for k,v in tue.items %}
    <td>{{ v }}</td>
{% endfor %}</tr>

<tr><td>Wednesday</td>
{% for k,v in wed.items %}
  <td>{{ v }}</td>
{% endfor %}</tr>

<tr><td>Thursday</td>
{% for k,v in thu.items %}
  <td>{{ v }}</td>
{% endfor %}</tr>

<tr><td>Friday</td>
{% for k,v in fri.items %}
  <td>{{ v }}</td>
{% endfor %}</tr>

<tr><td>Saturday</td>
{% for k,v in sat.items %}
  <td>{{ v }}</td>
{% endfor %}</tr>

</table>
</div>


<p class="top-space"><a href="{% url 'tacoapp:reset' %}">Reset Sheet?</a></p>


{% if user.is_authenticated %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

</body>
</html>
{% endblock %}
