{% extends 'tacoapp/base.html' %}

{% block content %}

<h1>Hello Manager Person</h1>

<!-- {% if all_items %}

    {% for each in all_items %}
        {{ each.potato }}
    {% endfor %}
{% endif%} -->

<p>There were {{ total }} tacos leftover since inception</p>

<!-- <p>daylist... {{ daylist }}</p>

<p>{{ dc }}</p>

<p>number of each day {{ daycount }}</p>

<p>list of potatos... {{ potlist }}</p>

<p>total of potatos... {{ pottot }}</p>

<p>list of beans... {{ beanlist }}</p>

<p>total of beans... {{ beantot }}</p> -->

<p>
</p>


{% endblock %}
