{% extends 'tacoapp/base.html' %}
{% load static %}

{% block content %}

<h1>Hello Manager Person</h1>

<!-- {% if all_items %}

    {% for each in all_items %}
        {{ each }}
    {% endfor %}
{% endif%} -->

<p>There were {{ total }} tacos leftover since inception</p>

<!-- <p>daylist... {{ daylist }}</p>

<p>{{ dc }}</p>

<p>number of each day {{ daycount }}</p>

<p>list of potatos... {{ potlist }}</p>

<p>total of potatos... {{ pottot }}</p>

<p>list of beans... {{ beanlist }}</p>

<p>total of beans... {{ beantot }}</p> -->

<!-- <p>{{ x }}</p> -->

<!-- <p>{% for each in x %}
      {{ each }}
   {% endfor %}
</p> -->


<table border="solid">
  <tr><td>Date</td>
    <td>Weekday</td>
    <td>Potato</td>
    <td>Bean</td></tr>
  {% for each in all_items %}
      <tr><td>{{ each.date }}</td>
        <td>{{ each.weekday }}</td>
        <td>{{ each.potato }}</td>
        <td>{{ each.bean }}</td></tr>

  {% endfor %}

  <table border="solid">
    <tr><td>Weekday</td>
      <td>Potato</td>
      <td>Bean</td></tr>
    <tr><td>Sunday</td>
    <td>{{ sun_dic.pot }}</td>
    <td>{{ sun_dic.bean }}</td></tr>

    <tr><td>Monday</td>
      <td>{{ mon_dic.pot }}</td>
      <td>{{ mon_dic.bean }}</td></tr>

</table>

<!-- <br>
{{ plst }} {{ sun_pot_tot }} --- average --- {{ sun_pot_av }}
<br>
{{ blst }} {{ sun_bean_tot }} --- average --- {{ sun_bean_av }} -->
<br>
Sunday Averages: {{ sun_dic }}
<br>
Monday Averages: {{ mon_dic }}

{% endblock %}
