{% extends 'tacoapp/base.html' %}
{% load static %}

{% block content %}
<DOCTYPE html>
<head></head>
<link rel="stylesheet" type="text/css" href="{% static 'tacoapp/style.css' %}">

<body class="center">
<h1>Reset Spreadsheet For New Month</h1>

<div class="top-space">
<form method="POST" onSubmit="return confirm('This will delete data from Google sheet. Proceed?');">
  {% csrf_token %}
  <button type="submit">Reset</button>
</form>
</div>

<p class="top-space"><a href="{% url 'tacoapp:index' %}">Home</a></p>

</body>
</html>
{% endblock %}
